<div class="container">
  <h1>All Jobs</h1>

  <div class="jobs-container">
    <% @jobs.each do |job| %>
      <% if job.available %>
        <%= link_to job_path(job), class: "job-card" do %>
          <h3><%= job.title %></h3>
          <p class="scroll"><%= job.description %></p>
          <p><%= job.address %></p>
          <p><strong>$</strong> <%= job.price %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
