<div class="container">
  <h1>All Jobs</h1>

  <div class="jobs-container">
    <% @jobs.each do |job| %>
      <% if job.available == true %>
      <div class="job-card">
        <h3><%= link_to job.title, job_path(job) %></h3>
        <p><%= job.description %></p>
        <p><strong>address:</strong> <%= job.address %></p>
        <p><strong>Price:</strong> <%= job.price %></p>
        <!-- Add more job details as needed -->

        <%# Add links or buttons for actions like applying, viewing details, etc. %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

<%# <%= link_to "Edit", edit_job_path %>
   <%# <%= link_to "delete", job_path(@job), %>
    <%# data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
