<div class="job-details-container">
  <div class="job-details-card ml-3">

    <h1 class="job-title"><%= @job.title %></h1>
    <p class="job-description"><%= @job.description %></p>
    <p class="job-price"><strong>Price:</strong> <%= @job.price %></p>
    <p class="job-address"><strong>Address:</strong> <%= @job.address %></p>
    <p class="job-available-from"><strong>Available From:</strong> <%= @job.available_from %></p>
    <p class="job-credit-to-earn"><strong>Credit to Earn:</strong> <%= @job.credit_to_earn %></p>
    <%= link_to "Book now", new_job_booking_path(@job), class: "btn btn-primary btn-sm" %>
  </div>


  <div id="image-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% if @job.image.present? %>
        <div class="carousel-item active">
          <%= image_tag(@job.image, class: 'd-block mx-auto mt-2 w-75 h-75', alt: 'Job Image') %>
        </div>
      <% else %>
        <% 3.times do |index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <%= image_tag('empty_image_placeholder.png', class: 'd-block mx-auto mt-2 w-75 h-75', alt: 'Empty Image') %>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#image-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <% if current_user == @job.user %>
    <%= link_to job_path(@job),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash ms-2"></i><span>
    <% end %>
    <div data-controller="toggle" class="my-2">
      <%# <button data-action="click->toggle#fire" class="btn btn-outline-primary">Edit job</button> %>
      <i data-action="click->toggle#fire" class="fa-solid fa-pen-to-square ms-2 btn"></i>
      <div data-toggle-target="editElement" class="d-none">
        <%= render "form", job: @job %>
      </div>
    </div>
  <% end %>

  <h2>Reviews</h2>
  <% @job.bookings.each do |booking| %>
    <% booking.reviews.each do |review| %>
      <p><strong>Rating:</strong> <%= review.rating %></p>
      <p><%= review.description %></p>
    <% end %>
  <% end %>
