<a href="<%= job_path(booking.job) %>" class="card-link">
<div class="card mb-3"  style="border-radius: 15px">
  <% case booking.status
   when "cancelled" %>
  <div class="card-body cancelled">
  <% when "pending" %>
  <div class="card-body pending">
  <% when "completed" %>
  <div class="card-body completed">
  <% when "booked" %>
  <div class="card-body booked">
  <% end %>
      <h5 class="card-title">Booking ID: <%= booking.id %>
      <%= link_to booking_path(booking),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash ms-2" id="del"></i></h5>
      <% end %>
      <p class="card-text"><%= link_to booking.job.title, job_path(booking.job) %></p>
    <p class="card-text"><em>Starting: </em> <%= booking.start_date.strftime("%A, %B %e %Y") %></p>
    <p class="card-text"><em>Ending: </em><%= booking.end_date.strftime("%A, %B %e %Y") %></p>
      <p class="card-text"><%= booking.job.description %></p>
      <p class="card-text">Status: <%= booking.status %></p>
      <% if booking.job.user.present? %>
      <p class="card-text">Booking User: <%= booking.user.first_name %></p>
      <% end %>
      <% if booking.completed? %>
      <a href="<%= new_job_booking_review_path(booking.job, booking)%>" class= "card-link">Leave a review</a>
      <% end %>
      <%= yield %>
    </div>
  </div>
</a>
