<div class="card mb-3">
  <% case booking.status
   when "cancelled" %>
  <div class="card-body border border-danger">
  <% when "pending" %>
  <div class="card-body border border-warning">
  <% when "completed" %>
  <div class="card-body border border-success">
  <% when "booked" %>
  <div class="card-body border border-info">
  <% end %>
    <h5 class="card-title">Booking Request ID: <%= booking.id %></h5>
    <p class="card-text"><%= link_to booking.job.title, job_path(booking.job) %></p>
    <p class="card-text"><%= booking.start_date %></p>
    <p class="card-text"><%= booking.end_date %></p>
    <p class="card-text"><%= booking.job.description %></p>
    <%# <p class="card-text"><%= booking.job.available %>
    <p class="card-text">Booking owner: <%= booking.job.user.first_name %></p>
    <div data-controller="toggle" class="my-2">
      <button data-action="click->toggle#book" class="btn btn-outline-primary">Manage Request</button>
      <%# <i data-action="click->toggle#book" class="fa-solid fa-pen-to-square ms-2 btn"></i> %>
      <div data-toggle-target="bookElement" class="d-none">
      <%= simple_form_for booking do |f| %>
        <%= f.input :start_date, disabled: true, hint: 'You cannot change the date.'  %>
        <%= f.input :end_date, disabled: true, hint: 'You cannot change the date.'   %>
        <%= f.input :status, collection: ['booked', 'cancelled', 'completed']%>
        <%= f.button :submit %>
      <% end %>
      </div>
    </div>
  </div>
</div>
