<div class="job-card">
  <%= link_to job_path(job) do %>
    <div class="card-top">
      <%# <%= image_tag(job.image.present? ? job.image : 'empty_image_placeholder.png', class: 'job-card-img', alt: 'Job Image') %>
    </div>
    <div class="card-bottom">
      <h3><%= job.title %></h3>
      <p class="scroll"><%= job.description %></p>
      <p><%= job.address %></p>
      <p><strong>$</strong> <%= job.price %></p>
    </div>
    <div class="user-info">

      <%# <p class="user-name"><%= job.user.first_name %>
    </div>
  <% end %>
</div>
