<h1>New Review</h1>

<div class="jobs-form">
  <%= simple_form_for [@job, @booking, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :rating, collection: [1, 2, 3, 4, 5]  %>
    <%= f.button :submit %>
  <% end %>
</div>
