<!DOCTYPE html>
<html>
  <head>
    <title>RailsSeatSwap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <%= render "shared/navbar" %>
        <div class= "container-fluid">
          <%= yield %>
          <%= render "shared/flashes" %>
        </div>
    </div>
    <div class="footer">
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
