<!DOCTYPE html>
<html>
  <head>
    <title>RailsSeatSwap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
     <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/flashes" %>
=======
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/flashes" %>
    <%= render 'shared/footer' %>
>>>>>>> 394948bf247bb0d63d11a1b7b9773713e824bce3
</html>
